<%- include('../partials/header'); %>

<%


%>

<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1 id="animated_box"><%= currentModule; %></h1>
    </div>

    <div class="section-body animate__animated  animate__backInUp">

      <div class="row">
        <div class="col-8 offset-2">
          <div class="card">
            <div class="card-header">
              <h4><%= currentSubModule %></h4>
            </div>
            <div class="card-body">
              <form id="productAddEditForm" class="form_advanced_validation"
                action="/sellerAdmin/product/addUpdateProduct" method="POST" autocomplete="off"
                enctype="multipart/form-data">

                <div class="form-group">
                  <label>Tax Category</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-hand-holding-usd"></i>
                      </div>
                    </div>
                    <input type="text" class="form-control" name="taxCategory"
                      value="<%= taxCategory && taxCategory.taxCategory; %>" required disabled>
                  </div>
                </div>

                <div class="form-group">
                  <label>Tax In Percent</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                    <input type="text" class="form-control" name="taxInPercent" value="<%= taxCategory && taxCategory.taxInPercent == 0 ? 'No' : 'Yes'; %>" required disabled>
                  </div>
                </div>

                <div class="form-group">
                  <label>Value</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-hand-holding-usd"></i>
                      </div>
                    </div>
                    <input type="text" class="form-control" name="taxValue"
                      value="<%= taxCategory && taxCategory.taxValue; %>" required disabled>
                  </div>
                </div>

                <div class="form-group row mb-4">
                  <div class="col-sm-12 col-md-7 offset-4">
                    <input type="hidden" class="form-control" name="id" value="<%= taxCategory.id %>">
                    <button type="button" class="btn btn-secondary cancel_btn">Back</button>
                    <!-- <button type="submit" class="btn btn-primary">Update</button> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>


<%- include('../partials/footer'); %>

<script>
  $(document).ready(function () {



  });
</script>