            <footer class="main-footer">
                <div class="footer-left">
                Copyright &copy; <%= copyrightYear; %> <div class="bullet"></div> <a href="<%= companyUrl; %>"><%= companyName; %></a>
                </div>
                <div class="footer-right">
                <%= appVersion; %>
                </div>
            </footer>
            </div>
        </div>

        <!-- General JS Scripts -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="/assets/js/stisla.js"></script>

        <!-- JS Libraies -->
        <script src="/node_modules_url/simpleweather/jquery.simpleWeather.min.js"></script>
        <script src="/node_modules_url/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="/node_modules_url/chart.js/dist/Chart.min.js"></script>
        <script src="/node_modules_url/jqvmap/dist/jquery.vmap.min.js"></script>
        <script src="/node_modules_url/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="/node_modules_url/summernote/dist/summernote-bs4.js"></script>
        <script src="/node_modules_url/chocolat/dist/js/jquery.chocolat.min.js"></script>
        <script src="/node_modules_url/izitoast/dist/js/iziToast.min.js"></script>
        <script src="/node_modules_url/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/node_modules_url/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="/node_modules_url/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
        <script src="/node_modules_url/jquery.pwstrength/jquery.pwstrength.min.js"></script>
        <script src="/node_modules_url/select2/dist/js/select2.full.min.js"></script>
        <script src="/node_modules_url/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/node_modules_url/selectric/public/jquery.selectric.min.js"></script>
        <script src="/node_modules_url/jquery_upload_preview/assets/js/jquery.uploadPreview.min.js"></script>

        <!-- Template JS File -->
        <script src="/assets/js/scripts.js"></script>
        <script type="module" src="/assets/js/custom.js"></script>

        <!-- Page Specific JS File -->
        <script src="/assets/js/page/index-0.js"></script>
    </body>
</html>


<script>
    const htmlDecode = (input) => {
        var e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }

    console.log('customJS==================================================>here');

    let flashMessage = JSON.parse(htmlDecode("<%= JSON.stringify(flashMessage) %>")); 
    console.log(flashMessage, '==================================>flashMessage');

    if (Array.isArray(flashMessage) && flashMessage.length > 0) {        
        flashMessage = flashMessage[0];

        iziToast[flashMessage.color]({
            title: flashMessage.message,
            // message: '',
            position: 'topRight'
        });
    }
</script>
